body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 150px;
  text-align: center;
}

input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #38bdf8;
  cursor: pointer;
}

a {
  color: #38bdf8;
}
